<footer class="text-center text-lg-start bg-light text-muted" style="bottom: 0;">
    <section class="" style="bottom: 0;">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"><i class="fas fa-gem me-3"></i>Paloma</h6>
                    <p>Scènes de Musiques Actuelles de Nîmes Métropole</p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>

                    <p><i class="fas fa-home me-3"></i>250, chemin de l'aérodrome, 30000 Nîmes</p>
                    <p><i class="fas fa-envelope me-3"></i>info@paloma-nimes.fr</p>
                    <p><i class="fas fa-phone me-3"></i>04 67 12 34 56</p>
                </div>
            </div>
        </div>
    </section>
</footer>

<style>
    .text-uppercase {
        padding-top: 10px;
    }
</style>
